@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.book-title{
    color: brown;
    margin-bottom: 10px;
}
.book-author{
    margin-bottom: 10px;
}
.book-card{
    background-color: white;
    padding-bottom: 15px;
    border:1px solid rgb(192, 196, 192);
    width: 300px;
    text-align: center;
    margin: 20px 30px;
    font-size: 16px;
    box-shadow: 1px 3px 12px -1px rgba(0,0,0,0.55);
}
.book-image{
    width: 100%;
    margin-bottom: 10px;
}
.book-description{
    font-size: 14px;
    text-align: justify;
    margin: 13px;
    line-height: 20px;
}
